.dark-mode {
    background: linear-gradient(to bottom, #9ca3af 20%, #1f2937 60%, #000 110%);
    color: white;
  }
  
  .dark-mode .bg-gray-50,
  .dark-mode .bg-gray-100,
  .dark-mode .bg-white {
    background: radial-gradient(circle, #333 20%, #000 80%);
  }
  
  .dark-mode .bg-gray-200 {
    background: linear-gradient(to bottom, #9ca3af 20%, #1f2937 60%, #000 100%);
    color: white;
  }
  

  .dark-mode .border {
    border-color: #090909;
  }
  .dark-mode .text-gray-800 {
    color: white;
  }
  